* {
  box-sizing: border-box;
  border: none;
  color: black;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
/*  outline: thin solid red;*/
}

:root {
  --padding-default: 1rem 0;
  --general-max-width: 900px;
  --margin-centered: 0 auto;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  animation: animateBgGradient 5s infinite alternate;
  background: radial-gradient(circle at center, #dbfeff, #d3afff);
  background-size: 200% 100%;
  position: relative;
  height: 100vh;
}

h3 {
  font-weight: 500;
}

.header {
  margin: var(--margin-centered);
  max-width: var(--general-max-width);
  padding: 1rem 0;
}

.header-info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title button"
    "about button";
  padding: 0rem 1rem;
}

.header-info .title {
  display: flex;
  flex-flow: column wrap;
  grid-area: title;
  font-weight: 600;
  line-height: 2.5rem;
}

.header-info .title span {
  font-weight: 500;
}

.header-info .about {
  padding: var(--padding-default);
  grid-area: about;
}

.main {
  display: grid;
  gap: 2rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  max-width: var(--general-max-width);
}

.main .info {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.main .info:hover {
  border: thin solid black;
  transition: ease-in-out 0.2s;
}

.main .info h2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

/* ACCORDION */

.main .info h2 .accordion-arrow {
  margin: 0rem 0.5rem;
}

.accordion {
  cursor: pointer;
}

.main .active {
  border-bottom: thin solid black;
}

.panel {
  display: none;
  overflow: hidden;
  margin: 1rem 0rem;
}

/* /ACCORDION */

.p {
  display: flex;
  flex-flow: column wrap;
  gap: .5rem;
  padding: .6rem 0rem;
}

.main .info .p .job-position {
  font-weight: 600;
}

.main .info .p .company-info {
  font-size: small;
}

.main .info .p .caption {
  color: grey;
  font-size: small;
  font-style: italic;
}

.main .info .p .achievements li {
  list-style: circle;
  margin-left: 1.2rem;
}

.main #work {
  display: grid;
  grid: auto-flow / repeat(1, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.main .info .skill {
  background-color: #dbfeff;
  border-radius: 0.5rem;
  min-height: 200px;
  padding: 0.5rem;
}

.main #education {
  margin-bottom: 5rem;
}

.footer {
  background-color: white;
  bottom: 0;
  padding: 0.5rem 0;
  position: fixed;
  margin: var(--margin-centered);
  width: 100%;
}

body .footer .footer-nav {
  display: flex;
  justify-content: space-between;
  max-width: var(--general-max-width);
  margin: var(--margin-centered);
  padding: 0 1rem;
}

body .footer .footer-nav>.nav-link {
  font-size: 20pt;
}

body .footer .footer-nav .nav-menu {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  padding: 0.5rem 0;
}

.back-button {
  background: none;
  text-align: start;
}

.nav-link:hover {
  font-weight: 600;
}

.back-button {
  margin: 1rem 0;
}

.nav-back {
  border: thin solid black;
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
}

.nav-back:hover {
  background: white;
}

/* KEY FRAMES */

@keyframes animateBgGradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

/* MEDIA QUERIES */

@media (min-width: 768px) {

  .header {
    position: relative;
  }

  .header .title {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  .main #work {
    grid: auto-flow / repeat(2, 1fr);
  }
}